.Content{
    width: 80%;
    margin-top: 120px;
    margin-left: 25%;
    scroll-snap-margin-bottom: 0;
    margin-right:40%;
}

.Input{
    padding:20px;
    align-items: center;
}

.Alert{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
}